.meal {
  position: relative;
}
.image {
  max-height: 500px;
}
.body {
  background-color: #242424;
  color: #fff;
  padding: 0.5rem 1rem 10rem 1rem;
}
.title {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 5px;
}
.summary {
  font-size: 1rem;
  line-height: 1.2;
}
.subtitle {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 10px;
}
.servings {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  column-gap: 4px;
  span {
    font-size: 1.2rem;
    line-height: 1;
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: start;
}
.tag {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  column-gap: 0.1rem;
  span {
    font-size: 1.2rem;
  }
  margin-bottom: 0.3rem;
}
.dish {
  margin-left: -0.5rem;
  column-gap: 0.2rem;
  span {
    margin-left: -0.5rem;
    font-size: 1.2rem;
  }
}

.ingredients {
}
.instruction {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
